page-login {

}

.baton {
  margin: 15% auto auto;
  display: block;
}

.acon {
  font-size: 1000%;
}

.login-button {
  width: 95%;
  margin: auto;
}

.jotaro {
  font-size: 300%;
}

.joseph {
  margin: auto;
}

.sizeee {
  //width: 40%;
  //height: 100%;
}


//.card, .card-md, .card-ios {
//  webkit-box-shadow: none;
//  box-shadow: none;
//}
