<ion-header>
  <ion-navbar>
    <ion-searchbar placeholder="Tap here and press enter to search" animated [(ngModel)]="keyword"
                   (search)="search()"></ion-searchbar>
    <ion-row>
      <ion-col>

        <button outline class="sb" ion-button (click)="addFilter()">Advanced Search</button>
      </ion-col>
      <ion-col>

        <button outline class="sb" ion-button (click)="clear()">Clear Filters</button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <!--<ion-item>-->
  <!--<ion-label floating>Tap here to search</ion-label>-->
  <!--<ion-input [pattern]="pattern" title="No special" [(ngModel)]="keyword" (change)="search()"></ion-input>-->
  <!--</ion-item>-->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-card class="cardo" *ngFor="let transient of transients" (click)="itemTapped($event, transient)" text-left>

    <img class="limit" src="{{ transient.coverPic }}" alt="no pic added" *ngIf="transient.coverPic!=null"/>


    <!--<ion-card-header>-->
    <ion-card-content>
      <!--<ion-card-title>-->
      <h5>{{transient.propertyType}} - {{transient.slots}} units</h5>
      <h3 class="crop">
        <b>
          {{transient.title}}
        </b>
      </h3>

      {{transient.average != null ? transient.average : ""}}
      <ion-icon class="star-color" name="star" *ngIf="transient.stars.length > 0"></ion-icon>
      <ion-icon class="star-color" name="star" *ngIf="transient.stars.length > 1"></ion-icon>
      <ion-icon class="star-color" name="star" *ngIf="transient.stars.length > 2"></ion-icon>
      <ion-icon class="star-color" name="star" *ngIf="transient.stars.length > 3"></ion-icon>
      <ion-icon class="star-color" name="star" *ngIf="transient.stars.length > 4"></ion-icon>
      <ion-icon name="star-outline" *ngIf="transient.stars.length <= 0"></ion-icon>
      <ion-icon name="star-outline" *ngIf="transient.stars.length <= 1"></ion-icon>
      <ion-icon name="star-outline" *ngIf="transient.stars.length <= 2"></ion-icon>
      <ion-icon name="star-outline" *ngIf="transient.stars.length <= 3"></ion-icon>
      <ion-icon name="star-outline" *ngIf="transient.stars.length <= 4"></ion-icon>
      {{transient.houseReviews.length > 0 ? transient.houseReviews.length : ""}} review
      <h6>
        ₱ {{transient.price}}
      </h6>

      {{transient.street}},
      {{transient.city}},
      {{transient.state}},
      {{transient.country}}

      <!--{{transient.}}-->
      <!--<rating class="starsize" [rate]="transient.average"-->
      <!--readonly="false" style="zoom:0.5;">-->
      <!--</rating>-->
    </ion-card-content>

  </ion-card>


  <!--<ion-list>-->
  <!--<button ion-item *ngFor="let transient of transients" (click)="itemTapped($event, transient)">-->
  <!--<ion-icon [name]="transient.title" item-start></ion-icon>-->
  <!--<ion-img src="{{ pic }}" *ngFor="let pic of transient.pics"></ion-img>-->
  <!--{{transient.title}}-->
  <!--<div class="item-note" item-end>-->
  <!--$ {{transient.price}}-->
  <!--</div>-->
  <!--<div>-->
  <!--{{transient.vacant}}/{{transient.slots}} available-->
  <!--<br>-->
  <!--{{transient.description}}-->
  <!--<br>-->
  <!--</div>-->
  <!--</button>-->
  <!--</ion-list>-->

</ion-content>
