<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label floating>Tap here to search</ion-label>
    <ion-input [(ngModel)]="keyword" (change)="search()"></ion-input>
  </ion-item>
  <button ion-button (click)="addFilter()">Advanced Search</button>
  <button ion-button (click)="clear()">Clear Filters</button>


  <ion-card class="ioncard" *ngFor="let transient of transients" (click)="itemTapped($event, transient)">
    <div class="one" text-center vertical-align-top>
      <img class="imago" src="{{ transient.coverPic }}" alt="no pic added" *ngIf="transient.coverPic!=null"/>
    </div>
    <div class="two">
      <!--<ion-card-header>-->
      <ion-card-content>
        <h6 class="crop">
          {{transient.average}} stars!
          {{transient.propertyType}}
        </h6>
        <!--<ion-card-title>-->
        <h2 class="crop">
          {{transient.title}}
        </h2>


        <!--</ion-card-title>-->
        <!--</ion-card-header>-->
        <div class="crop">
          {{transient.street}},
          {{transient.city}},
          {{transient.state}},
          {{transient.country}}
        </div>
      </ion-card-content>
    </div>
  </ion-card>


  <!--<ion-list>-->
  <!--<button ion-item *ngFor="let transient of transients" (click)="itemTapped($event, transient)">-->
  <!--<ion-icon [name]="transient.title" item-start></ion-icon>-->
  <!--<ion-img src="{{ pic }}" *ngFor="let pic of transient.pics"></ion-img>-->
  <!--{{transient.title}}-->
  <!--<div class="item-note" item-end>-->
  <!--$ {{transient.price}}-->
  <!--</div>-->
  <!--<div>-->
  <!--{{transient.vacant}}/{{transient.slots}} available-->
  <!--<br>-->
  <!--{{transient.description}}-->
  <!--<br>-->
  <!--</div>-->
  <!--</button>-->
  <!--</ion-list>-->

</ion-content>
