page-list {

}

.crop { // to convert to ...
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.star-color {
  color: #ea3f4f;
}

ion-card {
  box-shadow: none !important;
}

.ccm {
  padding: 0;
}

.titulo {
  font-size: 15px;
}

.presyu {
  font-size: 13px;
}

.cardo {
  width: 40%;
  display: inline-block;
}

.units {
  font-size: 10px;
}

.girl {
  font-size: 12px;
}

.limit {
  height: 100px;
  object-fit: cover;
}

.container {

}

.contentt {
  font-size: 60%;
}
