page-list {

}

.crop { // to convert to ...
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.container {
  width: 80%;
  height: 200px;
  background: aqua;
  margin: auto;
  padding: 10px;
}

.one {
  width: 30%;
  //height: 100%;
  //display: block;
  float: left;
  vertical-align: middle;
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}

.two {
  padding-left: 30%;
  //margin-left: 30%;
  height: 200px;
}

.imago {
  max-height: 100%;
}

.ioncard {
  max-height: 15%;
}
