<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Edit Account</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <!--<ion-item>-->
    <!--<ion-label id="profile_image" stacked>Select Image</ion-label>-->
    <!--<ion-input type="file" accept=".png, .jpg, .jpeg" (change)="selectFile($event)">-->
    <!--Upload Image-->
    <!--</ion-input>-->
    <!--</ion-item>-->
    <img class="profpic" src="{{profPic}}" alt="no img selected" *ngIf="profPic!=null"/>
    <button ion-button (click)="androidFile()">Replace image</button>

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input [(ngModel)]="user.firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input [(ngModel)]="user.lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Location</ion-label>
      <ion-input [(ngModel)]="user.location"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="user.email"></ion-input>
    </ion-item>


    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Contact</ion-label>
            <ion-input type="number" [(ngModel)]="contact"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <button class="baton" (click)="addContact(contact)" ion-button color="primary" outline>
            Add Contact
          </button>
        </ion-col>
      </ion-row>


      <ion-row *ngFor="let contact of user.contacts" class="login-button">
        <ion-list>
          <button ion-item (click)="deleteContact(contact)">
            {{contact}}
            <ion-icon name="close" item-end></ion-icon>
          </button>
        </ion-list>
      </ion-row>

    </ion-grid>

    <button class="login-button" ion-button (click)="save()">Save</button>
  </ion-card>
</ion-content>
