<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Listings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <button ion-button (click)="createItem()">Add Listing</button>

  <ion-list>
    <button ion-item *ngFor="let transient of transients" (click)="itemTapped($event, transient)">
      <ion-icon [name]="transient.title" item-start></ion-icon>
      <ion-img src="{{ pic }}" *ngFor="let pic of transient.pics"></ion-img>
      {{transient.title}}
      <div class="item-note" item-end>
        $ {{transient.price}}
      </div>
      <div>
        {{transient.vacant}}/{{transient.slots}} available
        <br>
        {{transient.description}}
        <br>
      </div>
    </button>
  </ion-list>




</ion-content>
