<ion-header>
  <ion-navbar color = "primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Listings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <button ion-button (click)="createItem()">Add Listing</button>

  <ion-card class="ioncard" *ngFor="let transient of transients" (click)="itemTapped($event, transient)">
    <div class="one">
      <span class="helper"></span>
      <img class="maximg" src="{{ transient.coverPic }}" alt="no pic added" *ngIf="transient.coverPic!=null"/>
    </div>
    <div class="two">
      <!--<ion-card-header>-->
      <ion-card-content>
        <h6>
          {{transient.reviews}}/5 reviews!
        </h6>
        <!--<ion-card-title>-->
        <h2>
          {{transient.title}}
        </h2>
        <!--</ion-card-title>-->
        <!--</ion-card-header>-->
        {{transient.street}},
        {{transient.city}},
        {{transient.state}},
        {{transient.country}}
      </ion-card-content>
    </div>
  </ion-card>




</ion-content>
