<ion-header>
  <ion-navbar color = "primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Listings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <button ion-button (click)="createItem()">Add Listing</button>

  <ion-card *ngFor="let transient of transients" (click)="itemTapped($event, transient)">
    <img src="{{ transient.coverPic }}" alt="no pic added" *ngIf="transient.coverPic!=null"/>
    <ion-card-header>
      <p>
        {{transient.slots}} units available
      </p>
      <ion-card-title>
        {{transient.title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{transient.country}}
    </ion-card-content>
  </ion-card>




</ion-content>
