<ion-header>
  <ion-navbar color="primary">
    <ion-title>Edit Item</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-label id="profile_image" stacked>Select Image</ion-label>
      <ion-input type="file" accept=".png, .jpg" (change)="selectFile($event)">
        Upload Image
      </ion-input>
    </ion-item>

    <img src="{{coverPic}}" alt="no img selected" *ngIf="coverPic!=null"/>
    <button ion-button (click)="androidFile()">Replace image</button>

    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input [(ngModel)]="transient.title"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Property Type</ion-label>
      <ion-select [(ngModel)]="transient.propertyType">
        <ion-option>Rooms</ion-option>
        <ion-option>House</ion-option>
        <ion-option>Apartment</ion-option>
        <ion-option>Condominium</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Street</ion-label>
      <ion-input [(ngModel)]="transient.street"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>City</ion-label>
      <ion-input [(ngModel)]="transient.city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>State</ion-label>
      <ion-input [(ngModel)]="transient.state"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Country</ion-label>
      <ion-input [(ngModel)]="transient.country"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Price</ion-label>
      <ion-input type="number" [(ngModel)]="transient.price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea [(ngModel)]="transient.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Slots available</ion-label>
      <ion-input type="number" [(ngModel)]="transient.slots"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Amenities</ion-label>
          <ion-select [(ngModel)]="amenn">
            <ion-option *ngFor="let a of amenities">{{a}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button (click)="addAmenity()" ion-button color="secondary">
          Add Amenity
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let amenity of transient.amenities" class="login-button">
      <ion-list>
        <button class="login-button" ion-item (click)="deleteAmenity(amenity)">
          {{amenity}}
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-list>
    </ion-row>

    <button ion-button (click)="editItem()">Save</button>
    <button ion-button (click)="deleteItem()" color="danger" float="right">Delete</button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Reservations
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          Name
        </ion-col>
        <ion-col>
          Contacts
        </ion-col>
        <ion-col>
          Arrival
        </ion-col>
        <ion-col>
          Departure
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>

      <ion-row *ngFor="let reservation of reservations">
        <ion-col>
          {{reservation.name}}
        </ion-col>
        <ion-col>
          <ion-list *ngFor="let contact of reservation.contacts">
            {{contact}}
          </ion-list>
        </ion-col>
        <ion-col>
          {{reservation.checkIn}}
        </ion-col>
        <ion-col>
          {{reservation.checkOut == null ? 'Long term' : reservation.checkOut}}
        </ion-col>
        <ion-col>
          <button class="icon" (click)="delete(reservation)" ion-button color="danger" clear icon-only>
            <ion-icon name='trash'></ion-icon>
          </button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>


</ion-content>
