<ion-header>
  <ion-navbar color="primary">
    <ion-title>Edit Item</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <!--<ion-item>-->
      <!--<ion-label id="profile_image" stacked>Select Image</ion-label>-->
      <!--<ion-input type="file" accept=".png, .jpg, .jpeg" (change)="selectFile($event)">-->
        <!--Upload Image-->
      <!--</ion-input>-->
    <!--</ion-item>-->

    <img src="{{coverPic}}" alt="no img selected" *ngIf="coverPic!=null"/>
    <button ion-button (click)="androidFile()">Replace image</button>

    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input [(ngModel)]="transient.title"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Property Type</ion-label>
      <ion-select [(ngModel)]="transient.propertyType">
        <ion-option>Rooms</ion-option>
        <ion-option>House</ion-option>
        <ion-option>Apartment</ion-option>
        <ion-option>Condominium</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Street</ion-label>
      <ion-input [(ngModel)]="transient.street"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>City</ion-label>
      <ion-input [(ngModel)]="transient.city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>State</ion-label>
      <ion-input [(ngModel)]="transient.state"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Country</ion-label>
      <ion-input [(ngModel)]="transient.country"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Price</ion-label>
      <ion-input type="number" [(ngModel)]="transient.price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea [(ngModel)]="transient.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Slots available</ion-label>
      <ion-input type="number" [(ngModel)]="transient.slots"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Amenities</ion-label>
          <ion-select [(ngModel)]="amenn">
            <ion-option *ngFor="let a of amenities">{{a}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button (click)="addAmenity()" ion-button color="primary" outline>
          Add Amenity
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let amenity of transient.amenities" class="login-button">
      <ion-list>
        <button ion-item (click)="deleteAmenity(amenity)">
          {{amenity}}
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-list>
    </ion-row>

    <button ion-button (click)="editItem()">Save</button>
    <button ion-button (click)="deleteItem()" color="danger" float="right">Delete</button>
  </ion-card>

  <hr>
  <ion-card>
    <ion-card-header>
      Reservations
    </ion-card-header>
    <ion-card *ngFor="let reservation of reservations">
      <ion-card-header>
        {{reservation.name}}
      </ion-card-header>
      <ion-card-content>
        Check In: {{reservation.checkIn}}
      </ion-card-content>
      <ion-card-content>
        Check Out: {{reservation.checkOut == null ? 'Long term' : reservation.checkOut}}
      </ion-card-content>
      <ion-card-header>
        Contacts
      </ion-card-header>
      <ion-card-content>
        <ion-list *ngFor="let contact of reservation.contacts">
          {{contact}}
        </ion-list>
        <button class="login-button" (click)="delete(reservation)" ion-button color="danger">
          Cancel Reservation
        </button>
      </ion-card-content>
    </ion-card>
  </ion-card>


</ion-content>
