<!--
  Generated template for the SelectItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{transient.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img src="{{ transient.coverPic }}" alt="no pic added" *ngIf="transient.coverPic!=null"/>
    <ion-card-header>
      <ion-card-title text-wrap>{{transient.title}}</ion-card-title>
      <p>₱ {{transient.price}}</p>
    </ion-card-header>

    <ion-card-content>
      <p>{{transient.propertyType}}</p>
      <p>{{transient.description}}</p>
      <p>Average Ratings: {{averageReview}}/5</p>
      <p>Available: {{transient.slots}} units</p>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>Location</ion-card-header>
    <ion-card-content>
      {{transient.street}},
      {{transient.city}},
      {{transient.state}},
      {{transient.country}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Amenities</ion-card-header>
    <ion-card-content>
      <ion-label *ngFor="let amenity of transient.amenities">
        {{amenity}}
      </ion-label>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="show">
    <ion-card-header>
      <ion-card-title>Make a reservation</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Check In:</ion-label>
        <ion-datetime min="2019" max="2099-10-31" [(ngModel)]="arrival"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Check Out:</ion-label>
        <ion-datetime min="2019" max="2099-10-31" [(ngModel)]="departure"></ion-datetime>
      </ion-item>
      <button ion-button (click)="book()">Book</button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!show">
    <ion-card-header>Reservation</ion-card-header>
    <ion-card-content>
      Check In: {{checkIn}}
    </ion-card-content>
    <ion-card-content>
      Check Out: {{checkOut == null ? 'Long term' : checkOut}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <ion-label>
        Contact Details:
      </ion-label>
      <ion-label>
        <b>
          {{owner.name}}
        </b>
      </ion-label>
      <ion-list *ngFor="let contact of owner.contacts">
        {{contact}}
      </ion-list>
    </ion-card-content>
  </ion-card>
  <button *ngIf="!show" color="danger" class="login-button" ion-button (click)="review()">Leave a review</button>

  <button *ngIf="!show" color="danger" class="login-button" ion-button (click)="cancel()">Cancel Booking</button>


</ion-content>
