<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h1 style="color: #555F61" padding-left>My Reservations</h1>
  <div text-center>

    <ion-card class="cardo" *ngFor="let reservation of reservations" (click)="itemTapped($event, reservation)" text-left>

      <img class="limit" src="{{ reservation.coverPic }}" alt="no pic added" *ngIf="reservation.coverPic!=null"/>


      <!--<ion-card-header>-->
      <ion-card-content class="ccm">
        <!--<ion-card-title>-->
        <span class="units">{{reservation.propertyType}} - {{reservation.slots}} units</span>
        <br>
        <span class="crop titulo">
        <b>
          {{reservation.title}}
        </b>
      </span>
        <br>

        <!--{{reservation.average != null ? reservation.average : ""}}-->
        <ion-icon class="star-color" name="star" *ngIf="reservation.stars.length > 0"></ion-icon>
        <ion-icon class="star-color" name="star" *ngIf="reservation.stars.length > 1"></ion-icon>
        <ion-icon class="star-color" name="star" *ngIf="reservation.stars.length > 2"></ion-icon>
        <ion-icon class="star-color" name="star" *ngIf="reservation.stars.length > 3"></ion-icon>
        <ion-icon class="star-color" name="star" *ngIf="reservation.stars.length > 4"></ion-icon>
        <ion-icon name="star-outline" *ngIf="reservation.stars.length <= 0"></ion-icon>
        <ion-icon name="star-outline" *ngIf="reservation.stars.length <= 1"></ion-icon>
        <ion-icon name="star-outline" *ngIf="reservation.stars.length <= 2"></ion-icon>
        <ion-icon name="star-outline" *ngIf="reservation.stars.length <= 3"></ion-icon>
        <ion-icon name="star-outline" *ngIf="reservation.stars.length <= 4"></ion-icon>
        <!--{{reservation.houseReviews.length > 0 ? reservation.houseReviews.length : ""}} review-->
        <br>
        <span class="presyu">
        ₱ {{reservation.price}}
      </span>
        <br>
        <span class="girl">
      {{reservation.street}},
          {{reservation.city}},
          {{reservation.state}},
          {{reservation.country}}
      </span>

        <!--{{reservation.}}-->
        <!--<rating class="starsize" [rate]="reservation.average"-->
        <!--readonly="false" style="zoom:0.5;">-->
        <!--</rating>-->
      </ion-card-content>

    </ion-card>

  </div>
</ion-content>
